.App {
  text-align: center;
  background-color: lightgrey;
}

.container {
  margin: 0;
  padding: 0;
}

.CityAndDate {
  margin: 0;
  padding: 0;
  margin-left: 5%;
  border: 1px solid black;
}

.City {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:darkslategray;
}

.Date {
  position:relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: darkgrey;
  top: 10px;
  border: 1px solid black;
}

.ShortInfo {
  position:relative;
  float:left;
}

.Image {
  position: absolute;
  overflow:hidden;
  left: 20%;
  top: 20px;
  width: 200px;
  height: 200px;
  float:left;
}

.Image > img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  position: absolute;
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
}

.Image img:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.WeatherDesc {
  position:relative;
  top: 10px;
  left: 140px;
  color: ghostwhite;
  font-size: 24px;
  font-weight: bold;
}

.Temperature {
  position: relative;
  left: 120%;
  font-size: 80px;
  float:right;
  color: darkgrey;
}

.Temperature:hover {
  color: darksalmon;
}

.GeneralInfo {
  position: relative;
  top: 5vh;
  left: 100px;
  text-align: left;
}

.WeatherInfo {
  position	: relative;
  height: 38em;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.fields {

}

.Description {
  font-size: 20px;
  padding: 5px;
  border-collapse: collapse;
  font-family: sans-serif;
  color: white;
}